.vs/PruebaGitHub/v16/.suo
.vs/PruebaGitHub/v16/TestStore/0/000.testlog
.vs/PruebaGitHub/v16/TestStore/0/testlog.manifest
PruebaGitHub/bin/Debug/PruebaGitHub.exe
PruebaGitHub/bin/Debug/PruebaGitHub.exe.config
PruebaGitHub/bin/Debug/PruebaGitHub.pdb
PruebaGitHub/obj/Debug/PruebaGitHub.csproj.CoreCompileInputs.cache
PruebaGitHub/obj/Debug/PruebaGitHub.csproj.FileListAbsolute.txt
PruebaGitHub/obj/Debug/PruebaGitHub.csproj.GenerateResource.cache
PruebaGitHub/obj/Debug/PruebaGitHub.exe
PruebaGitHub/obj/Debug/PruebaGitHub.Form1.resources
PruebaGitHub/obj/Debug/PruebaGitHub.pdb
PruebaGitHub/obj/Debug/PruebaGitHub.Properties.Resources.resources
